/* 
    Document   : style_christmas
    Created on : Dec 4, 2013, 10:16:52 AM
    Author     : one
    Description:
        Purpose of the stylesheet follows.
*/

.wrapper_christmas{
   background:url(images/christmas/bg.jpg) no-repeat;
   padding-top: 147px;   
   background-color: #feebc1;
   padding-left: 20px;
   
}

.offer_status{
   position: absolute;
   z-index: 100;
   width: 295px;
   height: 295px;
   top: 0px;   
}

.offer_status_close{
   background:url(images/christmas/bg-product-status-close.jpg) no-repeat;
}

.offer_status_open{
   background:url(images/christmas/bg-product-status-open.png) no-repeat;
}
.offer_status_out{
   background:url(images/christmas/bg-product-status-out.png) no-repeat;
}


.text_day{
   color:#ffffff;
   font-weight: bold;
   font-size: 25px;
   font-family: Arial,sans-serif,monospace;
   width: 80px;
   text-align: center;
   line-height: 25px;
   padding-top: 20px;
   float: left;
}


ul.products li.product{
   width: 295px !important;
   height: 295px !important;
   position: relative !important;
   display: block !important;
   margin-right: 5px;
   margin-bottom:5px !important;
}
ul.products li.last{
   margin-right: 0px !important;
}

.title_grill_chirstmas, .title_grill_chirstmas h1{
   color:red !important;
   font-size:10px !important;
   
}

.christmas_description{
   overflow: visible !important;
   position: absolute !important;
   bottom: 5px !important;
   padding: 10px;   
   padding-bottom: 5px;
}
.christmas_title h1{  
   font-size: 12px;
   font-weight:normal;
   line-height: 12px;
   opacity: 0.7;
}

.christmas_regular_price{
   font-size: 14px;
   font-weight: normal;
   text-decoration: line-through;
   line-height: 14px;
   opacity: 0.7;
}

.christmas_sale_price{
   font-weight: bold;
   line-height: 17px;
   opacity: 0.7;
}

   
.christmas_title a, .christmas_title a:hover{
   text-decoration: none;
}

.offer_status_open .christmas_title h1{  
   color:#ef4222;   
}

.offer_status_open .christmas_sale_price{   
   color:#e94222;   
}

.offer_status_open .christmas_regular_price{   
   color:#000000;   
}


.offer_status_out .christmas_title h1{  
   color:#ffffff;
}

.offer_status_out .christmas_sale_price{   
   color:#ffffff;   
}

.offer_status_out .christmas_regular_price{   
   color:#ffffff;
}

.offer_day_close{
   text-align: center;
   vertical-align: middle;
   color:#ef3d17;
   
    font-family: Arial,sans-serif,monospace;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;   
    
    margin-top: 145px;
}
#page{
   padding: 10px 10px 20px !important;
}

