
/*
Theme Name: Hot Deal
Theme URI: http://wordpress.org/extend/themes/twentytwelve
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2012 theme for WordPress is a fully responsive theme that looks great on any device. Features include a front page template with its own widgets, an optional display font, styling for post formats on both index and single views, and an optional no-sidebar page template. Make it yours with a custom menu, header image, and background.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentytwelve

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	margin-top: 0px !important;
}
body {
	line-height: 1;
	background-color: #dadbdd;
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************
				TAGS
*****************************************/
b{
   font-weight: bold;
}
strong{
	font-weight: bold;
}
p{
	padding-top: 5px;
	padding-bottom: 15px;
}
h1{
	font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
	font-size: 21px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
h2{
    color: #949494;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 5px;
}
h3{
	font-size: 16px;
	color: #666666;
	padding-bottom: 10px;
}
thead {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
#description_owner h1{
	background-color: #c6c6c6;
	 background-position: 0 bottom;
    border-top: 1px dotted #969696;
    border-bottom: 1px dotted #969696;
    height: auto;
    line-height: 1.1;
    min-height: 25px;
    padding: 15px 25px 26px 10px;
    font-size: 21px;
    color: #000000;
    margin-right: -20px;
    margin-left: -30px;
    background-color: #E9E9E9;
    font-weight: bold;
}
#description_owner p{
	padding-top: 10px !important;
	padding-bottom: 10px;
}
/*****************************************
				WEBSITE
*****************************************/
#wrapper{
   position: relative;
}

#page_container{
   
}
#page{
   /*position: relative;*/
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    margin: 0px !important;
    margin-left:17px !important;
    margin-bottom:17px !important;
    width: 450px !important;
}

#background {
    -moz-user-select: none;
    left: 0;
    min-height: 950px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    behavior: url(ie-css3.htc);
}
#background .stripe {
    background: url(./images/tiled-pinstripe.png) repeat scroll left top transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
    behavior: url(ie-css3.htc);
}
#background .fader {
    height: 100%;
    position: absolute;
    behavior: url(ie-css3.htc);
}
#background .stretch-image {
    background-size: 100% auto;
    height: 100%;
    left: 0;
    min-width: 1200px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    background-image:url(./images/small.jpg);
    behavior: url(ie-css3.htc);
}
#topline{
	/*background-color: #262626;
	height: 40px;*/
   
   background-color: #262626;
   height: 48px;
   
   width: 100%;
   /*
   position: absolute;
   z-index: 1002;
   */
   position: relative;
   clear: both;
}
#secure_sign{
	right: 5%;
	position: fixed;
	bottom: 30px;
	behavior: url(ie-css3.htc);
}
#container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
#container_wrapper{
	float: left;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	
	padding-bottom: 20px;
	width: 960px;	
}
#header{
	color: #ffffff;
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
	font-size: 18px;
	height: 230px;
	width:960px;
	z-index: 100;
	position: relative;
  behavior: url(ie-css3.htc);
}
#page_container{
	width: 960px;
	clear: both;
	/*z-index: 500;*/
	background-color: #ffffff;
  behavior: url(ie-css3.htc);
}
#footer{
	background-color: #3469ab;
	margin-top: 20px;
	color: #ffffff;
	clear: both;
}
/*****************************************
			styles - HEADER
*****************************************/

/* ------------ styles TOPLINE -------------- */
#topline a{
}
#topline_in{
   margin-left: auto;
   margin-right: auto;
   width: 960px;
}
#social_links{
	float: left;
	padding-left: 23px;
  line-height: 40px;
  color: #ffffff;
}
.share_links{
	float: left;
	vertical-align: middle;
	padding-top: 8px;
	margin-left: 15px
}
#topline ul{	
    text-align: right;
}
#topline ul li{
   border-left: 1px solid #454545;
   display: inline;
   height: 112px;
   line-height: 40px;
   padding: 10px 15px 10px 15px;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 12px;
}
#topline img{
	vertical-align: middle;
}
.counter_item {
    background-color: #BECF34;
    border-radius: 56px 56px 56px 56px;
    font-weight: bold;
    margin-left: 13px;
    overflow: hidden;
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
}
/* ------------ styles HEADER -------------- */
#top_header{
	height: 195px;
}
#bottom_header{
	clear: both;
	height: 35px;
}
#logo{
	float: left;
	padding-left: 10px;
	position: absolute;
	padding-top: 10px;
	behavior: url(ie-css3.htc);
}
#shiping_items{
	float: right;
  padding-top: 15px;
}
#car_shipping{
	float: left;
	padding-top: 60px;
}
#text_of_shipping{
   float: left;
   /*padding-left: 40px;*/
   padding-top: 30px;
}
#safe_secure{
   float: left;
   padding-left: 50px;
   padding-top: 35px;
}

/* ------------- Style declarations for Top Menu ------------------ */
.menu-header {	
   overflow: hidden;
   background-color: #ebebeb;
   opacity: 0.8;
   height: 35px;
   -moz-border-radius: 5px 5px 0px 0px;
   -webkit-border-radius: 5px 5px 0px 0px;
   border-radius: 5px 5px 0px 0px;
   behavior: url(ie-css3.htc);
}
.menu-header ul {
   overflow: hidden;
   height: 35px;	
   line-height: 35px;
   background-color: #EBEBEB;
   float: right;
}
.menu-header li {
   float: left;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 12px;
   background-color: #EBEBEB;
}
.menu-header a {
   text-decoration:none;
   color: #1a1a1a;
   display:block;
   padding:0 55px;
   background-color: #EBEBEB;
}
.menu-header a:hover {
   text-decoration:none;
   color: #346aac;
   display:block;
   padding:0 55px;
   background-color: #ffffff;
   opacity: 1;
}
.menu-header a, .menu-header a:visited {
   display:block;
}
.menu-header .current-menu-item a, .current-menu-item a:hover {
   display: inline-block;
   color: #346aac; 
   background-color: #ffffff;
   opacity: 1;
}
.menu-header .current-menu-item a:active {
   color: #346aac;
   display: inline-block;
   opacity: 1;
}
.menu-header a:hover, .menu-header a:active, .current_page_item a, #home .on, .menu-footer a:hover, .menu-item .menu-item-type-taxonomy .menu-item-object-product_cat .menu-item-48 {
   text-decoration:none;
   opacity: 1;
}
.menu-header li ul {
   height:auto;
   left:-999em;
   margin:0;
   padding:0;
   position:absolute;
   width:140px;
   background-color: #ffffff!important;
   behavior: url(ie-css3.htc);
}
.sub-menu ul li{
	height: 10px;
	width: 148px;
	background-color: #ffffff;
}
.menu-header li li {
	background-color: #ffffff;
	overflow: hidden;
	width: 140px;
}
.menu-header li li a, .menu-header li li a:visited {
	padding-left: 37px;
	background-color: #ffffff;
}
.menu-header li li a:hover, .menu-header li li a:active {
	padding-left: 37px;
	background-color: #EBEBEB;
	width: 140px;
}
.menu-header li:hover ul, .menu-header li li:hover ul, .menu-header li li li:hover ul,   .menu-header li.sfhover ul, .menu-header li li.sfhover ul, .menu-header li li li.sfhover ul     {
   left:auto;
}
/*******************************************/

/*
.menu-header li{
   background-color:#ef4023 !important;   
}


.menu-header #menu-item-3971 a:hover
{
   background-color:red !important; 
   background:url(images/christmas/icon-hover.png) 15px 50% no-repeat;
}

#menu-item-3971 a, #menu-item-3971 a:active {
   background:url(images/christmas/icon-n.png) 15px 50% no-repeat;   
   color: white;
}
*/


.menu-header li{
   background-color:#ef4023 !important;   
}


.menu-header #menu-item-6454 a:hover
{
   background-color:red !important; 
   background:url(images/christmas/icon-hover.png) 15px 50% no-repeat;
}

#menu-item-6454 a, #menu-item-6454 a:active {
   background:url(images/christmas/icon-n.png) 15px 50% no-repeat;   
   color: white;
}


/*
.menu-header #menu-item-4884 a:hover
{
   background-color:red !important;  
   background:url(images/christmas/icon-hover.png) 15px 50% no-repeat;
}

#menu-item-4884 a, #menu-item-4884 a:active {
   background:url(images/christmas/icon-n.png) 15px 50% no-repeat;
   color: white;   
}
*/

/*******************************************/

.home-icon a{
   background-image: url(./images/home.png);
   background-position: 30px;
   background-repeat: no-repeat;
   behavior: url(ie-css3.htc);
   behavior: url(iepngfix.htc);
}
.home-icon a:hover, .home-icon a:active{
   background-image: url(./images/home-over.png);
   background-position: 30px;
   background-repeat: no-repeat;
   behavior: url(ie-css3.htc);
   behavior: url(iepngfix.htc);
}
.featured-deals-icon a {
   background-image: url(./images/featured.png);
   background-position: 30px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.featured-deals-icon a:hover, .featured-deals-icon a:active{
   background-image: url(./images/featured-over.png);
   background-position: 30px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.shop-icon a{
   background-image: url(./images/shop.png);
   background-position: 30px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.shop-icon a:hover, .shop-icon a:active {
   background-image: url(./images/shop-over.png);
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}

		.jewellery-subicon a{
		   background-image: url(images/jewellery-cat.png);
         background-position: 10px;
		   background-repeat: no-repeat;  
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.entertainment-subicon a{
		   background-image: url(images/entertainment-cat.png);
		   background-position: 10px;
		   background-repeat: no-repeat;  
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.lifestyle-subicon a{
		   background-image: url(images/lifestyle-cat.png);
		   background-position: 10px;
		   background-repeat: no-repeat;
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.fashion-subicon a{
		   background-image: url(images/fashion-cat.png);
		   background-position: 11px 12px;
		   background-repeat: no-repeat;
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.jewellery-subicon a:hover{
		   background-image: url(images/go-jewellery.png);
		    background-position: 10px;
		   background-repeat: no-repeat;  
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.entertainment-subicon a:hover{
		   background-image: url(images/go-entertainment.png);
         background-position: 10px;
		   background-repeat: no-repeat; 
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.lifestyle-subicon a:hover{
		   background-image: url(images/go-lifestyle.png);
		   background-position: 10px;
		   background-repeat: no-repeat;
		   behavior: url(iepngfix.htc);
		   behavior: url(ie-css3.htc);
		}
		.fashion-subicon a:hover{
         background-image: url(images/go-fashion.png);
         background-position: 10px 11px;
         background-repeat: no-repeat;
         behavior: url(iepngfix.htc);
         behavior: url(ie-css3.htc);
		}

.services-icon a{
   background-image: url(./images/services.png);
   background-position: 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.services-icon a:hover,.services-icon a:active{
   background-image: url(./images/services-over.png);
   background-position: 30px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}

.we_not_accept{
 
   font-size: 11px;
   color: #3469AB;
}

/*****************************************
		styles - PAGE CONTAINER
*****************************************/
#navigation{
	font-size: 16px;
	overflow: hidden;
}
#navigation a {
   background-color: #BECF34;
   color: #1A1A1A;
   height: 33px;
   line-height: 33px;
   padding: 10px 25px 8px;
   text-decoration: none;
   -moz-border-radius: 8px 8px 0px 0px;
   -webkit-border-radius: 8px 8px 0px 0px;
   border-radius: 8px 8px 0px 0px;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 12px;
   behavior: url(ie-css3.htc);
}
#navigation a:hover, #navigation a:active{
   background-color: #ffffff;
   height: 33px;
   line-height: 33px;
   padding: 10px 25px 8px 30px;
   color: #1A1A1A;
   -moz-border-radius: 8px 8px 0px 0px;
   -webkit-border-radius: 8px 8px 0px 0px;
   border-radius: 8px 8px 0px 0px;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 12px;
   display: inline !important;
   behavior: url(ie-css3.htc);
}
#navigation ul{	
	float: right;
	overflow: hidden;
	padding-top: 15px;
}
#navigation ul li{
	display: inline-block;
	padding-top: 20px;
}
#navigation  .current-menu-item a, #navigation .current-menu-item a:hover {
   background-color: #ffffff;
   height: 33px;
   line-height: 30px;
   padding: 10px 25px 8px 30px;
   color: #1A1A1A;
   -moz-border-radius: 8px 8px 0px 0px;
   -webkit-border-radius: 8px 8px 0px 0px;
   border-radius: 8px 8px 0px 0px;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 12px;
   behavior: url(ie-css3.htc);
}
#navigation .current-menu-item a:active, .all-deals-icon a:hover, .all-deals-icon a:active {
   background-color:red;
   height: 33px;
   line-height: 33px;
   padding: 15px 25px 8px 30px;
}
/*****************************************
		styles - PAGE ALL DEALS
*****************************************/
#page{
	background-color: #ffffff;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 15px;
}
#title_page {
   overflow: hidden;
   padding-bottom: 10px;
}
#title_detail h1, #title_page h1{
   color: #575757;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 32px;
   font-weight: bold;
   text-decoration: none;
}
#featured_deal{	
	clear: both;
	height: 280px;		
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 5px;
   border:1px solid #CCCCCC;
}
.image_featured{
	float: left;	
	width: 450px;
	height: 280px;
}
.description_deal{
	float: left;
	width: 465px;
	height: 278px;
}
.description_in{
	padding: 20px;
	height: 240px;
	overflow: hidden;	
	behavior: url(ie-css3.htc);
}
.short_description{
	padding-top: 10px;
	line-height: 15px;
	font-size: 14px;
	height: 105px;
	color:#949494;
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
	line-height: 18px;
	overflow: hidden;
}
.text_price{
	padding-top: 20px;
	font-size: 12px;
	color: #000000;
}
#content_price{
	float: left;
	width: 127px;
	text-align: center;
	height: 70px;
}
.price{	
	color: #3469ab;
	font-size: 18px;
	text-align: right;
   display: inline-block;
}
.real_price{	
	background-color: #becf34;
	font-size: 15px;
	height: 28px;
	line-height: 30px;
}
#ticket{
	float: left;
	margin-right: -1px;
	position: absolute;
	margin-left: -11px;
	behavior: url(ie-css3.htc);
}
#ticket_grill {
    float: left;
    margin-left: -10px;
    margin-right: -1px;
    padding-top: 338px;
    position: absolute;
    z-index: 10000;
    behavior: url(ie-css3.htc);
}
.sale_price{
	background-color: #346aac;
	color: #ffffff;
	font-size: 12px;
	height: 30px;
	padding-top: 10px;
}
#category_product a {
   float: left;
   padding-left: 30px;
   padding-top: 50px;
   color: #949494;
   font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 12px;
}
#buton_featured{
   float: right;
   margin-right: 10px;
   line-height: 35px;
}
.image_grill{
   height: 280px;
   width: 450px;
   text-align: center;
   background-color: #dcdcdc;
}
.image_grill img{
   position:relative;
   display: table-cell;
   vertical-align:middle;
   text-align:center;
   behavior: url(ie-css3.htc);
}


#title_grill_product{
   height: 42px;
   overflow: hidden;
}
.content_grill{
	height: 160px;
	border-right:1px solid #ffffff; 
	overflow: hidden;
	position: relative;
	behavior: url(ie-css3.htc);
}
.product_mouseover{
	border: 1px solid #becf34 !important;
}
.description_grill{
	float: left;
	width: 415px;
	margin:5px;
	position: relative;
	padding-bottom: 6px;
	behavior: url(ie-css3.htc);
}
.owner_website{
	font-size: 12px;
	color: #000000;
	padding-top: 10px;
}
.location{
	font-size: 12px;
	color: #999999;
	height: 21px;
	line-height: 21px;
}
.price_grill{
	float: left;
	padding-top: 30px;
	width:90px;	
	margin-right: 10px;
}
.grill_deals{
   float: left;	
}
.align_grill{
	margin-left: 39px;
}
.footer_grill{
}
#see_more_deals{
   width: 210px;
   height: 50px;
   font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
   font-size: 18px;
   color: #ffffff;
   background-color: #346aac;
   background: -moz-linear-gradient(
   top,
   #346aac 0%,
   #164677);
   background: -webkit-gradient(
   linear, left top, left bottom, 
   from(#346aac),
   to(#164677));

   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   border: 1px solid #124170;
   text-align:center; 
   line-height: 55px;
   padding-left: 20px;
   margin-top: 10px;
   margin-right: 10px;
   text-decoration: none;
   cursor: pointer;
   text-transform: uppercase;
   behavior: url(ie-css3.htc);
}
#pagination_deals{
	text-align: center;
}
#showing_deals{
   color: #949494;
   font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
   font-size: 12px;
}

/*****************************************
			styles - FOOTER
*****************************************/

#title_footer{
	width: 510px;
	text-align: center;
	border-bottom: 1px solid #ffffff;
	overflow: hidden;
	margin-left: 180px;
	line-height: 40px;
}
#title_footer li{
	display: inline;
	float: left;
	overflow: hidden;
	padding-left: 55px;
	padding-right: 55px;
	text-align: center;
	color: #ffffff;
}
#aux_navigation{
	overflow: hidden;
	padding-left: 60px;
	float: left;
}
.column_footer{
	float: left;
	line-height: 22px;	
	text-align:left;
	width: 120px;
}
.column_content{
	font-weight: lighter;
	padding-top: 15px;
	font-family: arial, helvetica,sans-serif;
	font-size:12px;
	padding-bottom: 12px
}
.link_footer{
   text-decoration: none;
   color: #ffffff;
}
.link_footer:hover{
	text-decoration: none;
	color: #97c153;
}
.compras{
	float: right;	
	height: 30px;
	padding-top: 5px;
}
#color_product .summary{
   visibility: hidden;
}

#bottom_footer{
	text-align: center;
	clear: both;
	background-color: #becf34;
	height: 90px;
	color: #1a1a1a;	
	margin-bottom: 20px;
}
#secure_pay{
	float: left;
	padding-left: 10px;	
	padding-top: 10px;
}
.copyright{
	float: left;
	padding: 15px 39px;
	width: 360px;
}
#company{
	text-align: center;
	font-weight: bold;
}
#rights{
	text-align: center;
	padding-top: 30px;
	font-size: 11px;
}
.credit{
	float: left;	
	padding-left: 10px;		
	padding-right: 10px;
	padding-top: 10px;
}

/*****************************************
			styles - DETAIL PRODUCT
*****************************************/

#details{
	float: left;	
	padding-bottom: 20px;
	width: 700px;
}
#sidebar_detail{
	float: left;
	width: 220px;
   height: 285px;
}
#sidebar_deal_detail{
	float: right;
	width: 220px;		
	padding-bottom: 10px;
}
/*****************************************
			styles - DETAILS
*****************************************/
#page_detail{
	float: left;
	width: 700px;	
	margin-bottom: 20px;
   margin-top: 10px;
   height: 290px;
   /*position: relative;*/
}
#ticket_detail{
	float: left;
	position: absolute;
	margin-left: -47px;
	behavior: url(ie-css3.htc);
}
#title_detail{
    padding-bottom: 10px;
    padding-left: 0;
}
#content_detail{
	float: right;	
   position: relative;
   width: 450px;
   text-align: center;
   behavior: url(ie-css3.htc);
}
.main_thumbnail{    
    width: auto;
    text-align: center;
    position: relative;
    behavior: url(ie-css3.htc);
}
.main_thumbnail img{ 
}
#buton_sidebar_detail {
    background-color: #BECF33;
    clear: both;
    float: left;
    height: 61px;
    padding-left: 5px;
    padding-top: 14px;
    width: 220px;
    padding-bottom: 1px;
}
/**************************BUNDLE*********<<<<<<<<<<<<<<<<<<<<<<<<<***********************/
.product_excerpt{
   /*max-width: 600px;*/
}

.bundled_product_summary .details{
   float:none !important;
   width:100% !important;
}
.bundled_product_summary .details{
   max-width: 600px !important;
}
div.product div.images, #content div.product div.images{
   width:auto!important;
}

.bundle_form .quantity{
   visibility: hidden;
}
.bundle_button{
   text-align: center;
}
.product_title,
.product_title a,
.product_title a:hover{
   color:#949494;
   font-size: 21px;
   text-decoration: none;
}

.bundled_product_summary, .bundle_form{
   clear: right !important;
   overflow: auto;
}
.single_variation .stock{
   display: none;
}

/***************************************>>>>>>>>>>>>>>>>>>>>>>>>>*******************/
.quantity, #content .quantity{
   /*float: right;   */
   margin-bottom: 8px !important;
}
.buton_buy{
   font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
   font-size: 24px;
   color: #ffffff;
   background-color: #346aac;
   background: -moz-linear-gradient(
   top,
   #346aac 0%,
   #164677);
   background: -webkit-gradient(
   linear, left top, left bottom, 
   from(#346aac),
   to(#164677));
   -moz-border-radius: 11px;
   -webkit-border-radius: 11px;
   border-radius: 11px;
   border: 1px solid #124170;
   float: right;
   line-height: 55px;
   padding-left: 20px;
   height: 55px;
   margin-top: 10px;
   margin-right: 10px;
   text-decoration: none;
   width: 175px;	
   font-weight: bold;
   behavior: url(ie-css3.htc);
   cursor: pointer;
}
#buton_sidebar_detail img{
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
}
.sidebar_price{
	overflow: hidden;
	margin-bottom: 10px;
}
.amount_price_sd {
}
.price_ofert{
	clear: both;
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 12px;
    background-color: #d6e1ee;
}
.discount{
	/*float: left;*/
	width: 105px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;

}
.discount td{
   text-align: right;
}

.you_save{	
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;	
	padding-left: 10px;
	background-color: #E3F0D6;
	padding-right: 11px;
}
.description_price{
	border: 1px solid #3469ab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	margin-top: 10px;
	clear: both;
	behavior: url(ie-css3.htc);
}
.timer{
	background-image: url('./images/timer.png');
	background-repeat: no-repeat;
	background-position: 20px 18px;
	border: 1px solid #dee799;
	background-color: #f2f5d6;
	line-height: 20px;
	text-align: center;
	height: 63px;
	padding-left: 50px;
	padding-right: 10px;
	margin-bottom: 10px;	
	behavior: url(iepngfix.htc);
	behavior: url(ie-css3.htc);
}
#time_to_buy{
   font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
   font-size: 14px;
   text-align: center;
   padding-top: 5px;
}
#countdown{
	margin-top: 5px;
	padding-bottom: 10px;
	font-size: 14px;
}
.bought {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 0;
    text-align: center;
    margin-bottom: 10px;
}
#thumb_detail{
   display: inline-block;
}
#description_detail{
	padding-top: 10px;
	overflow: hidden;
	width: 450px;
	color: #666666 !important;
}
#nutshell{
	float: left;
	width: 210px;
	color: #666666;
}
#fine_print{
	float: left;
	width: 220px;
	padding-left: 20px;
	color: #666666;
}
.product_excerpt,
.title_short_description{
   padding-bottom:16px; 
   line-height:24px; 
   color:#3F3F40; 
   font-size:14px;         
}
.page_detail_owner{
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	width: 700px;
	overflow: hidden;
	clear: both;
}
#description_owner{
   float: left;
   background-color: #f2f2f2;
   padding-left: 30px;
   padding-right: 15px;
   padding-bottom: 50px;
   color: #666666;
   font-size: 13px;
   line-height: 20px;
   text-align: justify;
   width: 654px;
}
#description_owner>h1{
   font-weight: normal;
   line-height: 20px;
   padding-bottom: 10px;
   padding-top: 15px;
}
#title_description_owner{
	padding-top: 5px;
	padding-bottom:5px;
}
#owner_location{
	float: left;
	width: 160px;
	background-color: #f2f5d6;
	overflow: hidden;
}
#title_owner_location{
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom: 15px;
}
#content_location{
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}
#phone_owner{

}

#owner_location .wp_geo_map{
	height: 200px !important;
	border: 1px solid #000000;
	
}


/*****************************************
		styles - SIDEBAR DEAL DETAIL
*****************************************/

#title_moredeal_sidebar{
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #dee799;	
	border-right: 1px solid #dee799;
	border-left: 1px solid #dee799;
	background-color: #f2f5d6;
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 21px;
}
.title_deals_sidebar{
	/*border: 1px solid #cccccc;*/
    font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 13px;
    width: 186px;
   /* border-radius: 0px 0px 10px 10px;*/
    padding: 5px;
}

.title_deals_sidebar a{
	color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.price_ofert_sidebar{
	color: #346aac;
	padding-bottom: 5px;
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 12px;
}
.content_sidebar{
	overflow: hidden;
	margin-bottom: 10px;
}
.price_sidebar{
	float: left;
	text-align: center;
    width: 80px;
    position: relative;
    behavior: url(ie-css3.htc);
}
.ticket_sidebar {
    margin-left: -11px;
    position: absolute;
    behavior: url(ie-css3.htc);
}
.real_price_sidebar {
    background-color: #BECF34;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
}
.sale_price_sidebar {
    background-color: #e3f0d6;
    color: #1a1a1a;
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 10px;
   text-decoration: line-through;
}
.thumbnail_sidebar{
	height: 80px;
	text-align: center;
}
.thumbnail_sidebar img{
	border: 1px solid #cccccc;
	/*padding: 4px 63px;*/
}
.link_content{
	text-decoration: none;
	color: #3469ab;
}
.link_content:hover{
	text-decoration: underline;
	color: #3469ab;
	cursor: pointer;
}
#sidebar_row{
	border-top: 1px solid #3469ab;
	margin-left: 10px;
	margin-top: 10px;
	width: 180px;
}
.title_sidebar_row{
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.sidebar_buton{
	/*float: left;*/
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;	
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	border: 1px solid #124170;
	cursor: pointer;
	/*margin-right: 8px;*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	font-weight: lighter;
	text-transform: uppercase;
	/*height: 30px;
	width: 83px;*/
	padding: 5px 30px;
	behavior: url(ie-css3.htc);
	font-weight: bold;
   text-transform: none;
}
.sidebar_location{
	float: left;
	margin-left: 5px;
	color: #000000;
	font-weight: bold;
}
.content_row{
	clear: both;
	padding-bottom: 10px;
}

.sidebar_bought{
	font-size: 10px;
	color: #000000;
	line-height: 25px;
}










button.css3button {
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 13px;
	color: #ffffff;
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 25px;
	border: 1px solid #124170;
	
	white-space: nowrap;
	margin-bottom: 5px;
	padding: 5px 19px;
	cursor: pointer;
	font-weight: bold;
	behavior: url(ie-css3.htc);
}
button.css3button1 {
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 14px;
	color: #000000;
	padding: 10px 20px;
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 1px solid #124170;
	padding-left: 50px;
	padding-right: 50px;
	height: 32px;
	line-height: 10px;
	margin-left: 20px;
	cursor: pointer;
	font-weight: bold;
	behavior: url(ie-css3.htc);

}








.pagination_deals{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.link_wcontent{
	text-decoration: none;
	color: #ffffff;
}
.link_wcontent:hover{
	text-decoration: underline;
	color: #ffffff;
	cursor: pointer;
}

#content_deal_sidebar{
	margin-left: 10px;
	margin-top: 10px;
}
.entry-content{
	width: 960px;
}
.price_original{
	float: right;
	color: #ffffff;
	font-size: 20px;
	padding-top: 21px
}
#buton_description{
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
.price_border_right{
	border-right: 1px solid #ffffff; 
}
#content{
	background-color: #ffffff;
	/*width: 825px;*/
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	overflow: hidden;
	behavior: url(ie-css3.htc);
}
.image_share{
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
	behavior: url(ie-css3.htc);
}
#product_counter{
	
	line-height: 30px;
	color: #949494;
	font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
	font-size: 32px;

}
#title_shop_page{
   float: left;
}
#aux_counter{
	float: right;
	/*color: #949494;
	font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
	font-size: 13px;*/
}
#featured_product{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 1px solid #333333;
  behavior: url(ie-css3.htc);
}




/*****************************************
			styles - COUNTDOWN
*****************************************/
#defaultCountdown { width: 160px; height: 30px; }
.hasCountdown {
    /*background-color: #EEEEEE;
    border: 1px solid #CCCCCC;*/
}
.countdown_rtl {
    direction: rtl;
}
.countdown_holding span {
    color: #888888;
}
.countdown_row {
    clear: both;
    padding: 0 2px;
    text-align: center;
    width: 100%;
}
.countdown_show1 .countdown_section {
    width: 66%;
}
.countdown_show2 .countdown_section {
    width: 46%;
}
.countdown_show3 .countdown_section {
    width: 30.5%;
}
.countdown_show4 .countdown_section {
    width: 22.5%;
}
.countdown_show5 .countdown_section {
    width: 17.5%;
}
.countdown_show6 .countdown_section {
    width: 14.25%;
}
.countdown_show7 .countdown_section {
    width: 12%;
}
.countdown_section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
}
.countdown_amount {
    font-size: 130%;
}
.countdown_descr {
    display: block;
    width: 100%;
}
#defaultCountdown { width: 175px; height: 30px; margin-top:10px; margin-bottom:10px; }


#primary{
	/*margin:10px;*/
}


/*****************************************
		styles - WOOCOMMERCE
*****************************************/
dl {
    padding-bottom: 27px;
}
table.shop_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: separate;
      border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    behavior: url(ie-css3.htc);
}
table.my_account_orders th, table.my_account_orders td {
    padding: 11px 8px;
    vertical-align: top;
}
div.product div.images img, #content div.product div.images img{
	/*width: auto !important;*/
}
div.product div.images div.thumbnails a, #content div.product div.images div.thumbnails a
{
	float: left;
	margin-right: 3.8%;
	width: 30.75%;
	margin-bottom: 3.0%;
}
div.product div.images, #content div.product div.images{
   /*
	float: right;
	width: 100%;	
	margin-bottom: 5px;
   */
   
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    /*width: 150px;*/
   
}
div.product .product_title, #content div.product .product_title{
	width: 550px;
	clear: both;
	line-height: 50px;
	margin-left: 10px;
}
span.onsale{
	display: none;
}
ul.products li.product{	
    margin: 0px;
    margin-bottom: 17px !important;   
	float: left;	
	height: 440px;
	width: 450px;		
	position: static;
	border: 1px solid #CCCCCC;
    /*border-radius:5px 0 15px 15px;*/
	behavior: url(ie-css3.htc);
}
ul.products{
	padding-left: 0px !important;
}


ul.products li.product a{
	float: left;
}

ul.products li.margin_grid_cell_right{
  margin-right: 17px !important;  
}
ul.products li.margin_grid_cell_left{
   margin-left: 17px !important;
   list-style: none;
}

a.button, button.button, input.button, #respond input#submit, #content input.button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;	
	background-color: #346aac  !important;
	background: -moz-linear-gradient(
		top,
		#0d3b6f 0%,
		#336aa6) !important;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0d3b6f),
		to(#336aa6))  !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 20px;
	border: none;
	padding-left: 20px;
	padding-right: 20px;	
   
   padding-top: 4px;
   padding-bottom: 4px;
   
	cursor: pointer;
	margin-right: 10px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	font-weight: lighter;
	text-transform: uppercase;
	behavior: url(ie-css3.htc);	
	margin-bottom: 10px;
}
a.button:hover, button.button:hover, input.button:hover, #respond input#submit:hover, #content input.button:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;	
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#0d3b6f 0%,
		#336aa6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0d3b6f),
		to(#336aa6));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	padding-left: 20px;
	padding-right: 20px;	
	cursor: pointer;
	margin-right: 10px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	font-weight: lighter;
	text-transform: uppercase;
	behavior: url(ie-css3.htc);
}

/*
a.button.alt, button.button.alt, input.button.alt, #respond input#submit.alt, #content input.button.alt{
	background: -moz-linear-gradient(center top , #becf33 0px, #becf33 100%) repeat scroll 0 0 transparent;
    border-color: #becf33;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(190, 201, 216, 0.6);
}
*/

.woocommerce-message .button{
   display: none !important;
}

.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt{
   	background: -moz-linear-gradient(center top , #becf33 0px, #becf33 100%) repeat scroll 0 0 transparent !important;
    border-color: #becf33 !important;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(190, 201, 216, 0.6) !important;
}


.woocommerce table.my_account_orders .order-actions .button, .woocommerce-page table.my_account_orders .order-actions .button,
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button{
   color:#ffffff !important;
   border-radius: 30px 30px 30px 30px !important;
   box-shadow: none !important;
   border: none !important;
   font-size: 12px !important;
   padding-top: 3px !important;
   padding-bottom: 3px !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
   font-weight: normal !important;
   font-family: Arial, Verdana, serif !important;
   text-shadow: none !important;
}



a.button.alt:hover, button.button.alt:hover, input.button.alt:hover, #respond input#submit.alt:hover, #content input.button.alt:hover{
	background: -moz-linear-gradient(center top , #becf33 0px, #becf33 100%) repeat scroll 0 0 transparent;
    border-color: #becf33;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(190, 201, 216, 0.6);
}
/*
.price del, .real_price{
	color: #1a1a1a !important;
	background-color: #becf34;
}
.price ins{
	
	text-decoration: none;
}*/
ul.products li.product .price {
    color: #3469ab;
    display: block;
    font-weight: normal;
    margin-bottom: 0.5em;
}


div.product div.images img, #content div.product div.images img{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    display: block;
    height: none !important;
    transition: all 0.2s ease-in-out 0s;
    width: none !important;
}

ul.products li.product a img {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3) !important;
    display: block;
    height: auto !important;
    margin: 0 0 !important;
    width: auto !important;
}


.products ul{
	border: 1px solid #cccccc !important;
    overflow: hidden;
}
.products ul li {
	border-bottom: 1px solid #cccccc !important;
	padding: 10px 11px;
}


/*****************************************
		CART PAGE - WOOCOMMERCE
*****************************************/
.cart-collaterals {
    width: 90%;
}

.cart-collaterals .cart_totals {
    float: right;
    text-align: right;
    width: 50%;
}
.cart-collaterals .cart_totals table {
    border-collapse: separate;
    border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
    float: right;
    margin: 0 0 6px;
    padding: 0;
    behavior: url(ie-css3.htc);
}

.woocommerce_message, .woocommerce_error, .woocommerce_info {
    background: -moz-linear-gradient(center top , #F7F6F7 0px, #F0EEF0 100%) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    color: #5E5E5E;
    list-style: none outside none;
    margin: 0 0 2em;
    padding: 0.55em 1em 0.55em 3em;
    text-shadow: 0 1px 0 #FFFFFF;
 	position: relative;
    width: auto;
    behavior: url(ie-css3.htc);
}

/*****************************************
      			PAGE BLOG
*****************************************/

.entry-header{
	padding-bottom: 10px;
}

article{
	padding-top: 10px;
	padding-bottom: 30px;
}
footer{
	padding-top: 5px;
}
.entry-title > a {
    text-decoration: none;
    color: #3469AB;
    font-size: 30px;
}
.entry-title > a:hover {
    text-decoration: underline;
    color: #3469AB;
}
#respond{
	padding-top: 15px;
}



/*****************************************
      		STYLES LINKS MENU
*****************************************/










.all-deals-icon a{
   padding-left: 30px !important;
   background-image: url(images/go-all-deals.png);
   /*background-position: left;*/
    background-position: 10px 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.all-deals-icon a:hover, .all-deals-icon a:active{
   padding-left: 30px !important;
   background-image: url(images/go-all-deals.png);
   /*background-position: left;*/
    background-position: 10px 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.jewellery-icon a{
   padding-left: 30px !important;
   background-image: url(images/go-jewellery.png);
    background-position: 10px 10px;
   background-repeat: no-repeat;  
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.jewellery-icon a:hover{
   padding-left: 30px !important;
   background-image: url(images/go-jewellery.png);
    background-position: 10px 10px;
   background-repeat: no-repeat;  
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.entertainment-icon a{
   padding-left: 30px !important;
   background-image: url(images/go-entertainment.png);
   background-position: 10px 10px;
   background-repeat: no-repeat;   
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.entertainment-icon a:hover{
   padding-left: 30px !important;
   background-image: url(images/go-entertainment.png);
   background-position: 10px 10px;
   background-repeat: no-repeat;   
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.lifestyle-icon a{
   padding-left: 30px !important;
   background-image: url(images/lifestyle-cat.png);
   background-position: 10px 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.lifestyle-icon a:hover{
   padding-left: 30px !important;
   background-image: url(images/go-lifestyle.png);
   background-position: 10px 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.fashion-icon a{
   padding-left: 30px !important;
   background-image: url(images/go-fashion.png);
  background-position: 10px 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.fashion-icon a:hover{
   padding-left: 30px !important;
   background-image: url(images/go-fashion.png);
  background-position: 10px 10px;
   background-repeat: no-repeat;
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}





.Accessories a{
   padding-left: 30px !important;
   background-image: url(images/entertainment-cat.png);
   background-position: 10px 46px;
   background-repeat: no-repeat;   
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.Fashion a{
	padding-left: 30px !important;
   background-image: url(images/fashion-cat.png);
   background-position: 10px 46px;
   background-repeat: no-repeat; 
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);

}
.Jewellery a{
	padding-left: 30px !important;
   background-image: url(images/jewellery-cat.png);
   background-position: 10px 46px;
   background-repeat: no-repeat; 
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.Lifestyle a{
	padding-left: 30px !important;
   background-image: url(images/lifestyle-cat.png);
   background-position: 10px 46px;
   background-repeat: no-repeat; 
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}
.Clearance a{
  padding-left: 30px !important;
   background-image: url(images/go-services.png);
   background-position: 10px 46px;
   background-repeat: no-repeat; 
   behavior: url(iepngfix.htc);
   behavior: url(ie-css3.htc);
}

.wpcf7-form p {
    font-size: 12px;
    line-height: 20px;
    
}
.wpcf7-form-control.wpcf7-submit{
	 background: -moz-linear-gradient(center top , #346AAC 0%, #164677) repeat scroll 0 0 transparent;
	background-color: #346AAC;
    border: 1px solid #124170;
    border-radius: 11px 11px 11px 11px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 45px;

    width: 95px;
}


#color_product{
	font-size: 12px;
	line-height: 20px;
	padding-top: 13px;
}
#color_product select{
	font-size: 12px;
}
#regular_price_amount{
	font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 15px;
    line-height: 40px;
    font-weight: bold;
}
#description_owner ul {
    list-style: disc outside none;
    padding-top: 5px;
    padding-left: 15px;
}
#description_owner ul li {
    list-style-image: url('./images/vignette_rows.png');
    padding-bottom: 10px;
    padding-left: 0;
}
#title_featured_deal{
	color: #666666;
    font-size: 21px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: -1px;
    padding-bottom: 5px;
}

.sidebar_price_deals{
	background: none repeat scroll 0 0 #414042;
    color: #B1B1B1;
    font-size: 12px;
    overflow: hidden;
    padding: 4px 7px 3px;
    width: 183px;
}
.column_form{
	width: 500px;
	float: left;
	padding-top: 30px;
}
.column_contact{
	width: 400px;
	overflow: hidden;
	float: left;
	padding-top: 30px;
}
.alignnone.size-full.wp-image-332 {
    vertical-align: middle;
}
.title_deals_sidebar .sidebar_buton {
    text-align: center;
}
.content_list{
	/*overflow: hidden;*/
	width: 220px;
	position: relative;
  behavior: url(ie-css3.htc);
}
.list_mouseover{
	background-color: #000000;
	opacity: 0.9;
}
.value_left_sidebar{
	float: left;
}
.prices_sidebar_detail{
	overflow: hidden;
}
.price_right_sidebar{
	float: right;
	font-size: 15px;
	color: #BECF33;
	font-weight: bold;
}
.over_bought_sidebar{
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	padding-top: 5px;
	text-align: right;
}
.sidebar_price_deals{  /*  1947 */
	background: none repeat scroll 0 0 #414042;
    color: #B1B1B1;
    font-size: 12px;
    overflow: hidden;
    padding: 4px 7px 3px;
    width: 184px;

}

   	.shadow_item_sidebar{
   		height: 100px;
   		opacity: 0.8;
   		background-color: #000000;
   		position: absolute;
   		z-index: 100;
         filter: Alpha(Opacity=80);
   		width: 220px;
   		/*behavior: url(ie-css3.htc);*/
   	}
   	.hide_shadow_item_sidebar{
   		visibility: hidden;
         /*z-index: 2;*/
   	}
   	.sale_price_shadow_item{
   		text-align: center;
   		
   		padding-bottom: 10px;
   		font-size: 21px;	
   		color: #ffffff;
   		font-weight: bold;
   	}
   	.buton_shadow_item{
   		text-align: center;
   		opacity: 1;
   		position: absolute;
   		z-index: 101;
   		opacity:1;	
   		font-weight: bold;
   		text-align: center;
   		width: 220px;
   		height: 40px;
         /*behavior: url(ie-css3.htc);*/
   	}
   	.title_product_shadow{
   		text-align: center;
   		padding-top: 30px;
   		/*padding-bottom: 10px;*/
   		font-size: 14px;	
   		color: #ffffff;
   		font-weight: bold;
   		line-height: 20px;
   	}

#wp-admin-bar-wp-logo{
	display: none;
}
.buton_featured_options{
		font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 14px;
	color: #ffffff;
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 1px solid #124170;
	line-height: 27px;
	height: 30px;
	margin-bottom: 5px;
	width: 95px;
	cursor: pointer;
	/*font-weight: bold;*/
	behavior: url(ie-css3.htc);
	text-align: center;
	box-shadow: none;
	padding: 7px 17px;
	text-decoration: none;
	font-weight: bold;
}
.buton_grilldeals_options{
		font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 14px;
	color: #ffffff;
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 1px solid #124170;
	line-height: 27px;
	height: 30px;
	margin-bottom: 5px;
	width: 95px;
	cursor: pointer;
	/*font-weight: bold;*/
	behavior: url(ie-css3.htc);
	text-align: center;
	box-shadow: none;
	padding: 0px;
	text-decoration: none;
	font-weight: bold;
}
.more-link{

}
.regular_price_shop{
   font-size: 16px;
   font-weight: bold;
   text-decoration: line-through;  
   padding-right: 17px;
   float: right;
}

   
   
   
   
   
   
   
   
   
   
   
   
   
.only_price_sidebar{
	float: left;
	/*padding-right: 10px;*/
	text-align: center;
	line-height: 22px;
}
.button_buy_sidebar {
   background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
    border: 1px solid #124170;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 14px 2px;
    text-transform: uppercase;
    width: 110px;
    margin-top: -3px;
}
.button_shop_buy{
	background-color: #346aac;
	background: -moz-linear-gradient(
		top,
		#346aac 0%,
		#164677);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#346aac),
		to(#164677));
    border: 1px solid #124170;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Lucida Sans","Lucida Grande",Garuda,sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 7px 23px;
    white-space: nowrap;
}
#description_owner a{
	color: #346aac;
}
.dataTables_wrapper .wp-table-reloaded {
    clear: both;
    text-align: center;
}
#description_owner td {
   /* border: 1px solid #CCCCCC;*/
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
#description_owner > table {
    margin-bottom: 25px;
}

.real_price > .amount {
    font-size: 12px;
    font-weight: bold;
}



#ligthbox_options > h1 {
    width: 460px;
    padding-top: 20px;
}

.attachment-shop_single.wp-post-image {
    height: 50%;
    width: 50%;
}
.images > .thumbnails {
    display: none;
}
.variations {
    clear: both;
    float: none !important;
    margin-bottom:20px;
}
.woocommerce .quantity, .woocommerce-page .quantity, .woocommerce #content .quantity, .woocommerce-page #content .quantity {
    margin: 0 0 !important;
    overflow: hidden;
    position: relative;
    width: 60px;
}
.product_meta>span{
  display:none;
}
.variations_button {
    text-align: center;
}
.single_variation {
    margin: 10px 0;
}

.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt {
    background: -moz-linear-gradient(center top , #AD74A2 0px, #96588A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #76456C;
    color: #FFFFFF;
    font-size: 30px;
    height: 35px;
    padding: 130px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}